<div class="col-sm-2 sidebar" role="navigation" ng-controller="SidebarController as sidebarCtrl" ng-init="sidebarCtrl.initMenu()">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu" ng-hide="!sidebarCtrl.authentication.authorized">
            <li>
                <a ui-sref="dashboard" ui-sref-active="active"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a ui-sref="user-list" ui-sref-active="active"><i class="fa fa-users"></i> Users</a>
            </li>
            <li>
                <a ui-sref="task-list" ui-sref-active="active"><i class="fa fa-tasks"></i> Tasks</a>
            </li>
        </ul>
        
        <ul class="nav" id="side-menu" ng-hide="sidebarCtrl.authentication.authorized">
            <li class="disabled">
                <a><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li class="disabled">
                <a><i class="fa fa-users"></i> Users</a>
            </li>
            <li class="disabled">
                <a><i class="fa fa-tasks"></i> Tasks</a>
            </li>
        </ul>
    </div>
</div>