<div class="nav navbar-nav sidebar navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">
    <ul class="nav" id="side-menu" ng-hide="!headerCtrl.authentication.authorized">
        <li ng-repeat="item in headerCtrl.sidebarMenu">
            <a ui-sref="{{item.url_name}}" ui-sref-active="{{item.active_class}}"><span ng-bind-html="item.icon"></span> <span ng-bind="item.title"></span></a>
        </li>
        <li>
            <a href="video-guides/index.html" target="_blank"><i class="fa fa-book"></i> Video Guides</a>
        </li>
    </ul>


    <ul class="nav" id="side-menu" ng-hide="headerCtrl.authentication.authorized">
        <li class="disabled" ng-repeat="item in headerCtrl.sidebarMenu">
            <a><span ng-bind-html="item.icon"></span> <span ng-bind="item.title"></span></a>
        </li>
        
        <li>
            <a href="video-guides/index.html" target="_blank"><i class="fa fa-book"></i> Video Guides</a>
        </li>
        
    </ul>
</div>
