<section>
    <div class="" style="margin-top:20px;">
        <tabset>
            <tab heading="Pending Tasks" select="">
                <ng-include src="'public/modules/mytasks/views/new-task.client.view.html'"></ng-include>
            </tab>
            <tab heading="Ongoing Tasks" select="">
                <ng-include src="'public/modules/mytasks/views/ongoing-task.client.view.html'"></ng-include>
            </tab>
            <tab heading="Completed Tasks" select="">
                <ng-include src="'public/modules/mytasks/views/completed-task.client.view.html'"></ng-include>
            </tab>
        </tabset>
        
    </div>
</section>