<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>JOB TRACKING</title>

    {% for cssFile in assets.lib.cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}"/>
    {% endfor%}
    
    {% for cssFile in assets.local.cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}"/>
    {% endfor%}
    
    {% for jsFile in assets.lib.jsFiles %}
    <script src="{{jsFile}}"></script>
    {% endfor%}
    
    {% for jsFile in assets.local.jsFiles %}
    <script src="{{jsFile}}"></script>
    {% endfor%}

</head>
<body>
    <header ng-include="'public/modules/core/views/header.client.view.html'"></header>
    
    <div id="wrapper" class="container-fluid">
        <!--SideBar-->
        <ng-include src="'public/modules/core/views/sidebar.client.view.html'"></ng-include>
        
        <!--Main Content-->
        <div class="col-sm-offset-2 col-sm-10 main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    
    <footer class="footer">
        <div class="container-fluid">
            <p class="pull-left text-muted">Vincent Le | Copyright &copy; 2015</p>
        </div>
    </footer>
    
    <!--Application JavaScript Files-->
    {% for jsFile in assets.js %}
    <script src="{{jsFile}}"></script>
    {% endfor%}
</body>
</html>