/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300,300italic&subset=latin,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic&subset=latin,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,vietnamese);

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700&subset=latin,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700italic,700&subset=latin,vietnamese);
*/


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-Bold.svg#Roboto') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.eot');
    src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
         url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Regular.svg#Roboto Condensed') format('svg');
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Bold.eot');
    src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
         url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Bold.svg#Roboto Condensed') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans.eot');
    src: url('../fonts/DroidSans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans.woff') format('woff'),
         url('../fonts/DroidSans.ttf') format('truetype'),
         url('../fonts/DroidSans.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans-Bold.eot');
    src: url('../fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-Bold.woff') format('woff'),
         url('../fonts/DroidSans-Bold.ttf') format('truetype'),
         url('../fonts/DroidSans-Bold.svg#Roboto') format('svg');
    font-weight: 900;
    font-style: normal;

}


